{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML->PDF</title>

    <!--CDN-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
</head>
<body>
<div id="app">
    <v-app dark>
        <v-container>
            <v-layout align-start mt-5 justify-center row>
                <v-flex xs8 offset-xs-1>

                    <!-- Header -->
                    <div class="display-4 mb-3 mt-3 text-xs-center font-weight-black"
                         style="color:#3ca3a2;">
                        {{ code }} Error
                    </div>

                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</div>

<!--CDN SCRIPTS-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {}
        },
    })
</script>
</body>
</html>
