{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML->PDF</title>

    <!--CDN-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
</head>
<body>
<div id="app">
    <v-app dark>
        <v-container>
            <v-layout align-start mt-5 justify-center row>
                <v-flex xs8 offset-xs-1>

                    <!--Alert-->
                    <div>
                        <v-alert
                                :value="showAlert"
                                type="error"
                                dismissible
                                transition="scale-transition"
                        >
                            [[ alertMessage ]]
                        </v-alert>
                    </div>

                    <!-- Header -->
                    <div class="display-4 mb-3 mt-3 text-xs-center font-weight-black font-italic"
                         style="color:#3ca3a2;">
                        HTML -> PDF
                    </div>

                    <!--Tabs-->
                    <v-tabs fixed-tabs>
                        <v-tabs-slider color="#3ca3a2"></v-tabs-slider>
                        <v-tab class="mr-5 #3ca3a2">
                            Convert Web Page
                        </v-tab>
                        <v-tab class="ml-5">
                            Convert HTML File
                        </v-tab>

                        <!--URL Tab-->
                        <v-tab-item>
                            <v-form class="mt-4">
                                <div class="subheading mb-2 text-xs-left">
                                    Enter a web page to convert:
                                </div>
                                <v-text-field
                                        v-model="convertedUrl"
                                        label="URL"
                                        color="#3ca3a2"
                                        outline
                                        :rules="rules"
                                        append-icon="insert_link"
                                ></v-text-field>
                            </v-form>
                            <v-btn
                                    :disabled="!convertedUrl"
                                    @click="convertFromUrl"
                                    class="white--text"
                                    color="grey darken-3"
                            >
                                Convert
                                <v-icon right dark>sync</v-icon>

                            </v-btn>
                        </v-tab-item>

                        <!--File Tab-->
                        <v-tab-item>
                            <v-form class="mt-4">
                                <div class="subheading mb-2 text-xs-left">
                                    You can upload an HTML file:
                                </div>
                                <v-text-field
                                        label="Choose file"
                                        @click='pickFile'
                                        :rules="rules"
                                        v-model='fileName'
                                        color="#3ca3a2"
                                        outline
                                        append-icon='attach_file'></v-text-field>
                                <input
                                        type="file"
                                        style="display: none"
                                        ref="fileInput"
                                        accept=".html"
                                        @change="onFilePicked"
                                >
                            </v-form>
                            <v-btn
                                    :disabled="!convertedUrl"
                                    @click="convertFromFile"
                                    class="white--text"
                                    color="grey darken-3"
                            >Convert
                                <v-icon right dark>sync</v-icon>
                            </v-btn>
                        </v-tab-item>
                    </v-tabs>
                </v-flex>

                <!--Dialog-->
                <v-dialog v-model="dialogVisibility" max-width="500px">
                    <v-card v-if="!converting">

                        <!--Close button-->
                        <v-card-title class="pb-0 pt-0 mb-0 mt-0 mr-0 pr-0">
                            <v-spacer></v-spacer>
                            <v-btn slot="activator" class="mr-0" icon @click="dialogVisibility=false">
                                <v-icon>close</v-icon>
                            </v-btn>
                        </v-card-title>

                        <!--Dialog Header-->
                        <v-card-title class="pt-0 pb-1 justify-center">
                            <p class="headline">
                                Your PDF is ready
                            </p>
                        </v-card-title>

                        <!--Dialog buttons-->
                        <v-card-text class="text-xs-center pt-0">
                            <v-btn
                                    class="white--text"
                                    color="blue-grey darken-3"
                                    :href="viewLink"
                                    target="_blank"
                            >View
                                <v-icon right dark>visibility</v-icon>
                            </v-btn>
                            <v-btn
                                    class="white--text"
                                    color="blue-grey darken-3"
                                    :href="downloadLink"
                                    target="_blank"
                            >Download
                                <v-icon right dark>save</v-icon>
                            </v-btn>
                        </v-card-text>
                    </v-card>

                    <!--Progress-->
                    <v-card v-else>
                        <v-card-title class="justify-center subheading">
                            <div>
                                Conversion in progress...
                            </div>
                        </v-card-title>
                        <v-card-text class="text-xs-center pt-0">
                            <v-progress-circular
                                    indeterminate
                                    :size="50"
                                    color="#3ca3a2"
                            ></v-progress-circular>
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </v-layout>
        </v-container>
    </v-app>
</div>

<!--CDN SCRIPTS-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                dialogVisibility: false,
                showAlert: false,
                converting: false,
                convertedUrl: 'en.wikipedia.org',
                alertMessage: '',
                viewLink: '',
                downloadLink: '',
                error: '',
                fileName: '',
                fileUrl: '',
                file: '',
                rules: [
                    v => !!v || 'Required',
                ],
            }
        },
        methods: {
            convertFromUrl() {
                let data = {"url": this.convertedUrl};
                let path = `convert_url/`;
                this.sendRequest(data, {}, path)
            },
            convertFromFile() {
                let formData = new FormData();
                formData.append('file', this.file);
                let headers = {'Content-Type': 'multipart/form-data'};
                let path = `convert_file/`;
                this.sendRequest(formData, headers, path)
            },
            sendRequest(data, headers, path) {
                this.dialogVisibility = true;
                this.converting = true;
                axios({
                    method: "POST",
                    url: `http://127.0.0.1:8000/` + path,
                    data: data,
                    headers: headers
                })
                    .then(response => {
                        this.converting = false;
                        if (response.data.success) {
                            this.viewLink = response.data.view_link;
                            this.downloadLink = response.data.download_link;
                        } else {
                            this.converting = false;
                            this.dialogVisibility = false;
                            this.raiseAlert(response.data.details);
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            pickFile() {
                this.$refs.fileInput.click()
            },
            onFilePicked(e) {
                const files = e.target.files;
                if (files[0] !== undefined) {
                    this.fileName = files[0].name;
                    if (this.fileName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader();
                    fr.readAsDataURL(files[0]);
                    fr.addEventListener('load', () => {
                        this.fileUrl = fr.result;
                        this.file = files[0] // this is an image file that can be sent to server...
                    })
                } else {
                    this.fileName = '';
                    this.file = '';
                    this.fileUrl = ''
                }
            },
            raiseAlert(message) {
                this.showAlert = true;
                this.alertMessage = message;
                // make alert invisible again
                setTimeout(() => {
                    this.showAlert = false;
                }, 5000)
            },
        }
    })
</script>
</body>
</html>
